# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Generated XML Files #
*.xml_gen

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
examples/.DS_Store
.DS_Store
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Metamodels_NeoCore.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Metamodels_SokobanLanguage.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Models_SokobanBasis.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Models_SokobanSimple.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Models_SokobanSimpleTestField.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Rules_SokobanPatternsRulesConstraints.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Rules_SokobanTGGs.java
examples/SokobanLanguage/src-gen/org/emoflon/neo/api/API_Common.java
examples/TestSuite/out/sokobanExchangeFormat.ecore
examples/TestSuite/out/SokobanLanguage.ecore
*.xtendbin
org.emoflon.neo.emf/xtend-gen/org/emoflon/neo/emf/EMFExporter.java
examples/TestSuite/src-gen/org/emoflon/neo/api/API_Resources_Expected_SimpleFamilies.java
examples/TestSuite/src-gen/org/emoflon/neo/api/API_Common.java

examples/Organigram/src-gen/org/emoflon/neo/api/API_Common\.java

examples/Organigram/src-gen/org/emoflon/neo/api/API_Emsl_Organigram\.java

examples/PacMan/src-gen/org/emoflon/neo/api/API_Common\.java

examples/PacMan/src-gen/org/emoflon/neo/api/API_Emsl_PacMan\.java
examples/PacMan/src-gen/org/emoflon/neo/api/API_Src_PacMan.java
examples/NetworkTopology/src-gen/org/emoflon/neo/api/API_Common.java
examples/NetworkTopology/src-gen/org/emoflon/neo/api/API_Src_NetworkTopology.java
examples/Organigram/src-gen/org/emoflon/neo/api/API_Src_Organigram.java
examples/NetworkTopology/src-gen/org/emoflon/neo/api/API_NetworkTopology.java
examples/Organigram/src-gen/org/emoflon/neo/api/API_Organigram.java
examples/PacMan/src-gen/org/emoflon/neo/api/API_PacMan.java
examples/TestSuite/src-gen/org/emoflon/neo/api/expected/API_SimpleFamilies.java
examples/SokobanGUI/src-gen/org/emoflon/neo/api/API_Common.java
examples/SokobanGUI/src-gen/org/emoflon/neo/api/org/moflon/tutorial/sokobangamegui/patterns/API_SokobanGUIPatterns.java
examples/SokobanGUI/src-gen/org/emoflon/neo/api/org/moflon/tutorial/sokobangamegui/patterns/BoardData.java
examples/SokobanGUI/src-gen/org/emoflon/neo/api/org/moflon/tutorial/sokobangamegui/patterns/EmptyFieldsData.java
examples/SokobanGUI/SokobanGUI.launch
examples/TestSuite/out/org.emoflon.neo.neocore.ecore
examples/FruitGardenLanguage/src-gen/org/emoflon/neo/api/org/eneo/fruitgarden/API_PatternsAndRules.java
examples/FruitGardenLanguage/src-gen/org/emoflon/neo/api/org/eneo/fruitgarden/API_FruitGardenLanguage.java
examples/FruitGardenLanguage/src-gen/org/emoflon/neo/api/API_Common.java
examples/FruitGardenLanguage/src-gen/org/emoflon/neo/api/org/eneo/fruitgarden/API_DomainConstraints.java
examples/Chess/src-gen/org/emoflon/neo/api/API_ChessBoard.java
examples/Chess/src-gen/org/emoflon/neo/api/API_ChessLanguage.java
examples/Chess/src-gen/org/emoflon/neo/api/API_Common.java
examples/Chess/src-gen/org/emoflon/neo/api/API_FigureMoves.java
examples/Chess/src-gen/org/emoflon/neo/api/API_Patterns.java

examples/Chess/src-gen/org/emoflon/neo/api/API_ChessPatterns.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/API_Languages.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/API_Common.java
examples/FacebookToInstagram/src-gen/tgg/FacebookToInstagramGrammar_GEN.msl
examples/FacebookToInstagram/src-gen/tgg/FacebookToInstagramGrammar_FWD.msl
examples/FacebookToInstagram/src-gen/tgg/FacebookToInstagramGrammar_CO.msl
examples/FacebookToInstagram/src-gen/tgg/FacebookToInstagramGrammar_CC.msl
examples/FacebookToInstagram/src-gen/tgg/FacebookToInstagramGrammar_BWD.msl
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/API_Transformations.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/tgg/API_FacebookToInstagramGrammar_BWD.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/tgg/API_FacebookToInstagramGrammar_GEN.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/tgg/API_FacebookToInstagramGrammar_FWD.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/tgg/API_FacebookToInstagramGrammar_CO.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/tgg/API_FacebookToInstagramGrammar_CC.java
examples/CompanyToIT/tgg-gen/CompanyToIT/CompanyToIT_BWD.msl
examples/CompanyToIT/tgg-gen/CompanyToIT/CompanyToIT_CC.msl
examples/CompanyToIT/tgg-gen/CompanyToIT/CompanyToIT_CO.msl
examples/CompanyToIT/tgg-gen/CompanyToIT/CompanyToIT_FWD.msl
examples/CompanyToIT/tgg-gen/CompanyToIT/CompanyToIT_GEN.msl
examples/FacebookToInstagram/tgg-gen/Transformations/FacebookToInstagramGrammar_BWD.msl
examples/FacebookToInstagram/tgg-gen/Transformations/FacebookToInstagramGrammar_CC.msl
examples/FacebookToInstagram/tgg-gen/Transformations/FacebookToInstagramGrammar_CO.msl
examples/FacebookToInstagram/tgg-gen/Transformations/FacebookToInstagramGrammar_FWD.msl
examples/FacebookToInstagram/tgg-gen/Transformations/FacebookToInstagramGrammar_GEN.msl
examples/SokobanLanguage/tgg-gen/rules/SokobanTGGs/SokobanImportExport_BWD.msl
examples/SokobanLanguage/tgg-gen/rules/SokobanTGGs/SokobanImportExport_CC.msl
examples/SokobanLanguage/tgg-gen/rules/SokobanTGGs/SokobanImportExport_CO.msl
examples/SokobanLanguage/tgg-gen/rules/SokobanTGGs/SokobanImportExport_FWD.msl
examples/SokobanLanguage/tgg-gen/rules/SokobanTGGs/SokobanImportExport_GEN.msl
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/Transformations/API_FacebookToInstagramGrammar_BWD.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/Transformations/API_FacebookToInstagramGrammar_CC.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/Transformations/API_FacebookToInstagramGrammar_CO.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/Transformations/API_FacebookToInstagramGrammar_FWD.java
examples/FacebookToInstagram/src-gen/org/emoflon/neo/api/Transformations/API_FacebookToInstagramGrammar_GEN.java
