<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
        class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
        contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
        default="true"
        extensions="msl"
        icon="icons/eNeoIcon.png"
        id="org.emoflon.neo.emsl.EMSL"
        name="EMSL Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.emoflon.neo.emsl.EMSL.validate">
		<activeWhen>
			<reference
					definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.emoflon.neo.emsl.EMSL.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
  <handler
        class="org.emoflon.neo.emsl.ui.ExportEntityToNeo4J"
        commandId="org.eclipse.xtext.ui.editor.neo4jexport.Neo4JExport">
     <activeWhen>
        <and>
           <reference
                 definitionId="org.emoflon.neo.emsl.EMSL.XtextEditor.opened">
           </reference>
           <iterate>
              <adapt
                    type="org.eclipse.xtext.ui.editor.outline.IOutlineNode">
              </adapt>
           </iterate>
        </and>
     </activeWhen>
  </handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.emoflon.neo.emsl.EMSL.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.emoflon.neo.emsl.EMSL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="org.emoflon.neo.emsl.EMSL.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.emoflon.neo.emsl.EMSL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.emoflon.neo.emsl.EMSL"
			name="eMoflon::Neo">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
		</page>
		<page
			category="org.emoflon.neo.emsl.EMSL"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.emoflon.neo.emsl.EMSL.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
		</page>
		<page
			category="org.emoflon.neo.emsl.EMSL"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.emoflon.neo.emsl.EMSL.templates"
			name="Templates">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
		</page>
  <page
        category="org.emoflon.neo.emsl.EMSL"
        class="org.emoflon.neo.emsl.ui.preferences.Neo4JPreferencePage"
        id="org.emoflon.neo.emsl.EMSL.neo4j"
        name="Neo4J Preferences">
  </page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.emoflon.neo.emsl.EMSL"
			name="EMSL">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.emoflon.neo.emsl.ui.keyword_EMSL"
			label="EMSL"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="org.emoflon.neo.emsl.EMSL.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
 <command
       categoryId="org.eclipse.ui.category.edit"
       description="Export the chosen entity to Neo4j"
       id="org.eclipse.xtext.ui.editor.neo4jexport.Neo4JExport"
       name="Export to Neo4j">
 </command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.emoflon.neo.emsl.EMSL.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.emoflon.neo.emsl.EMSL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
  <menuContribution
        locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
     <command
           commandId="org.eclipse.xtext.ui.editor.neo4jexport.Neo4JExport"
           style="push"
           tooltip="Export to Neo4j">
        <visibleWhen
              checkEnabled="false">
           <and>
              <reference
                    definitionId="org.emoflon.neo.emsl.EMSL.XtextEditor.opened">
              </reference>
              <iterate>
                 <adapt
                       type="org.eclipse.xtext.ui.editor.outline.IOutlineNode">
                 </adapt>
              </iterate>
           </and>
        </visibleWhen>
     </command>
  </menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="msl"
			id="org.emoflon.neo.emsl.EMSL.contenttype"
			name="EMSL File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="msl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="msl">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.emoflon.neo.emsl.EMSL -->
	<extension
			id="emsl.check.fast"
			name="EMSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="emsl.check.normal"
			name="EMSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="emsl.check.expensive"
			name="EMSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.emoflon.neo.emsl.EMSL"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.emoflon.neo.emsl.EMSL.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="msl"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.emoflon.neo.emsl.EMSL"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.emoflon.neo.emsl.EMSL.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.emoflon.neo.emsl.EMSL"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.emoflon.neo.emsl.EMSL.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.emoflon.neo.emsl.EMSL.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.emoflon.neo.emsl.EMSL -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.emoflon.neo.emsl.ui.emsl.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.emoflon.neo.emsl.ui.emsl.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.emoflon.neo.emsl.ui.emsl.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.emoflon.neo.emsl.EMSL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.emoflon.neo.emsl.EMSL"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.emoflon.neo.emsl.EMSL.refactoring"
			name="Refactoring">
			<keywordReference id="org.emoflon.neo.emsl.ui.keyword_EMSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.emoflon.neo.emsl.EMSL.compare.contentViewers"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="msl">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.emoflon.neo.emsl.EMSL.contenttype"
			contentViewerId="org.emoflon.neo.emsl.EMSL.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.emoflon.neo.emsl.EMSL.compare.contentMergeViewers"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="msl" label="EMSL Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.emoflon.neo.emsl.EMSL.contenttype"
			contentMergeViewerId="org.emoflon.neo.emsl.EMSL.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.emoflon.neo.emsl.EMSL.editors.documentProviders"
			class="org.emoflon.neo.emsl.ui.EMSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="msl">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="msl"
			type="text">
		</fileTypes>
	</extension>
 <extension
       point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
    <diagramTextProvider
          providerClass="org.emoflon.neo.emsl.ui.visualisation.EMSLDiagramTextProvider">
    </diagramTextProvider>
 </extension>
 <extension
       point="net.sourceforge.plantuml.eclipse.linkOpener">
    <linkOpener
          linkOpenerClass="org.emoflon.neo.emsl.ui.visualisation.PlatformFragmentLinkOpener">
    </linkOpener>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.emoflon.neo.emsl.ui.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="org.emoflon.neo.emsl.ui.editor.Java2EMSLHyperlinkDetector"
          id="org.emoflon.neo.emsl.ui.hyperlinkDetector.java2emsl"
          name="Java2EMSL"
          targetId="org.eclipse.jdt.ui.javaCode">
    </hyperlinkDetector>
 </extension>
</plugin>
